reCamera_Gimbal/src/Dashboard/Motor_PID_Config.json
[
    {
        "id": "42cb848c12375756",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "1ede14d620af5fb0",
        "type": "can-write",
        "z": "42cb848c12375756",
        "name": "",
        "client": "1c58e9752c4bdfcb",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "8d58ada78f9df904",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 4",
        "func": "// 假设 pidKp 和 pidKi 已经在外部定义了\nlet pidKp = \"AKp\"; // 这里你可以设置为你实际的 topic 值\nlet pidKi = \"AKi\"; // 这里你可以设置为你实际的 topic 值\nlet pidKd = \"AKd\"; // 这里你可以设置为你实际的 topic 值\n\n// 初始化 kp 和 ki 变量\nlet kp = context.get('kp') || 0;\nlet ki = context.get('ki') || 0;\nlet kd = context.get('kd') || 0;\n\n// 检查msg.topic并赋值给kp或ki\nif (msg.topic === pidKp) {\n    kp = msg.payload;\n    // 将新的 kp 值存储到上下文\n    context.set('kp', kp);\n}\nif (msg.topic === pidKi) {\n    ki = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('ki', ki);\n}\nif (msg.topic === pidKd) {\n    kd = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('kd', kd);\n}\n\n// 定义data数组\nlet data = new Array(8).fill(0);\n\n// 填充数据\ndata[0] = 0xC1;\ndata[1] = 0x0A\ndata[2] = (kp & 0xFF);\ndata[3] = (kp >> 8) & 0xFF;\ndata[4] = (ki & 0xFF);\ndata[5] = (ki >> 8) & 0xFF;\ndata[6] = (kd & 0xFF);\ndata[7] = (kd >> 8) & 0xFF;\n// 组合成指令ID\nlet command = '141#' + data.map(byte => byte.toString(16).padStart(2, '0')).join('.');\n\n// 返回指令\nmsg.payload = command;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "1ede14d620af5fb0"
            ]
        ]
    },
    {
        "id": "6b4e7be919bb6222",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 5",
        "func": "// 假设 pidKp 和 pidKi 已经在外部定义了\nlet pidKp = \"SKp\"; // 这里你可以设置为你实际的 topic 值\nlet pidKi = \"SKi\"; // 这里你可以设置为你实际的 topic 值\nlet pidKd = \"SKd\"; // 这里你可以设置为你实际的 topic 值\n\n// 初始化 kp 和 ki 变量\nlet kp = context.get('kp') || 0;\nlet ki = context.get('ki') || 0;\nlet kd = context.get('kd') || 0;\n\n// 检查msg.topic并赋值给kp或ki\nif (msg.topic === pidKp) {\n    kp = msg.payload;\n    // 将新的 kp 值存储到上下文\n    context.set('kp', kp);\n}\nif (msg.topic === pidKi) {\n    ki = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('ki', ki);\n}\nif (msg.topic === pidKd) {\n    kd = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('kd', kd);\n}\n\n// 定义data数组\nlet data = new Array(8).fill(0);\n\n// 填充数据\ndata[0] = 0xC1;\ndata[1] = 0x0B\ndata[2] = (kp & 0xFF);\ndata[3] = (kp >> 8) & 0xFF;\ndata[4] = (ki & 0xFF);\ndata[5] = (ki >> 8) & 0xFF;\ndata[6] = (kd & 0xFF);\ndata[7] = (kd >> 8) & 0xFF;\n// 组合成指令ID\nlet command = '141#' + data.map(byte => byte.toString(16).padStart(2, '0')).join('.');\n\n// 返回指令\nmsg.payload = command;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "1ede14d620af5fb0"
            ]
        ]
    },
    {
        "id": "6ad923d36fb39536",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 18",
        "func": "// 假设 pidKp 和 pidKi 已经在外部定义了\nlet pidKp = \"SKp\"; // 这里你可以设置为你实际的 topic 值\nlet pidKi = \"SKi\"; // 这里你可以设置为你实际的 topic 值\nlet pidKd = \"SKd\"; // 这里你可以设置为你实际的 topic 值\n\n// 初始化 kp 和 ki 变量\nlet kp = context.get('kp') || 0;\nlet ki = context.get('ki') || 0;\nlet kd = context.get('kd') || 0;\n\n// 检查msg.topic并赋值给kp或ki\nif (msg.topic === pidKp) {\n    kp = msg.payload;\n    // 将新的 kp 值存储到上下文\n    context.set('kp', kp);\n}\nif (msg.topic === pidKi) {\n    ki = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('ki', ki);\n}\nif (msg.topic === pidKd) {\n    kd = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('kd', kd);\n}\n\n// 定义data数组\nlet data = new Array(8).fill(0);\n\n// 填充数据\ndata[0] = 0xC1;\ndata[1] = 0x0B\ndata[2] = (kp & 0xFF);\ndata[3] = (kp >> 8) & 0xFF;\ndata[4] = (ki & 0xFF);\ndata[5] = (ki >> 8) & 0xFF;\ndata[6] = (kd & 0xFF);\ndata[7] = (kd >> 8) & 0xFF;\n// 组合成指令ID\nlet command = '142#' + data.map(byte => byte.toString(16).padStart(2, '0')).join('.');\n\n// 返回指令\nmsg.payload = command;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 580,
        "wires": [
            [
                "1ede14d620af5fb0"
            ]
        ]
    },
    {
        "id": "43221967174f896a",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 22",
        "func": "// 假设 pidKp 和 pidKi 已经在外部定义了\nlet pidKp = \"AKp\"; // 这里你可以设置为你实际的 topic 值\nlet pidKi = \"AKi\"; // 这里你可以设置为你实际的 topic 值\nlet pidKd = \"AKd\"; // 这里你可以设置为你实际的 topic 值\n\n// 初始化 kp 和 ki 变量\nlet kp = context.get('kp') || 0;\nlet ki = context.get('ki') || 0;\nlet kd = context.get('kd') || 0;\n\n// 检查msg.topic并赋值给kp或ki\nif (msg.topic === pidKp) {\n    kp = msg.payload;\n    // 将新的 kp 值存储到上下文\n    context.set('kp', kp);\n}\nif (msg.topic === pidKi) {\n    ki = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('ki', ki);\n}\nif (msg.topic === pidKd) {\n    kd = msg.payload;\n    // 将新的 ki 值存储到上下文\n    context.set('kd', kd);\n}\n\n// 定义data数组\nlet data = new Array(8).fill(0);\n\n// 填充数据\ndata[0] = 0xC1;\ndata[1] = 0x0A\ndata[2] = (kp & 0xFF);\ndata[3] = (kp >> 8) & 0xFF;\ndata[4] = (ki & 0xFF);\ndata[5] = (ki >> 8) & 0xFF;\ndata[6] = (kd & 0xFF);\ndata[7] = (kd >> 8) & 0xFF;\n// 组合成指令ID\nlet command = '142#' + data.map(byte => byte.toString(16).padStart(2, '0')).join('.');\n\n// 返回指令\nmsg.payload = command;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "1ede14d620af5fb0"
            ]
        ]
    },
    {
        "id": "0de7521b8d02d726",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 14",
        "func": "msg.topic = \"AKp\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "8d58ada78f9df904"
            ]
        ]
    },
    {
        "id": "5aa8ca5cc62f623e",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 15",
        "func": "msg.topic = \"AKi\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "8d58ada78f9df904"
            ]
        ]
    },
    {
        "id": "403899e8ebf54b18",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 16",
        "func": "msg.topic = \"AKd\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "8d58ada78f9df904"
            ]
        ]
    },
    {
        "id": "c33460c2381e5aad",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 6",
        "func": "msg.topic = \"SKp\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "6b4e7be919bb6222"
            ]
        ]
    },
    {
        "id": "0146890f3d5cbd84",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 7",
        "func": "msg.topic = \"SKi\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "6b4e7be919bb6222"
            ]
        ]
    },
    {
        "id": "35cfba2cc3f7919c",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 17",
        "func": "msg.topic = \"SKd\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "6b4e7be919bb6222"
            ]
        ]
    },
    {
        "id": "0f1ec69e1e6ea4e3",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 19",
        "func": "msg.topic = \"SKp\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "6ad923d36fb39536"
            ]
        ]
    },
    {
        "id": "79e9e56dbf9c361d",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 20",
        "func": "msg.topic = \"SKi\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "6ad923d36fb39536"
            ]
        ]
    },
    {
        "id": "779e1a0b2cc6dcd8",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 21",
        "func": "msg.topic = \"SKd\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "6ad923d36fb39536"
            ]
        ]
    },
    {
        "id": "a534da4fc43da85a",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 23",
        "func": "msg.topic = \"AKp\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "43221967174f896a"
            ]
        ]
    },
    {
        "id": "ab2f1f5045801533",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 24",
        "func": "msg.topic = \"AKi\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 460,
        "wires": [
            [
                "43221967174f896a"
            ]
        ]
    },
    {
        "id": "d6c3361b3092db4a",
        "type": "function",
        "z": "42cb848c12375756",
        "name": "function 25",
        "func": "msg.topic = \"AKd\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "43221967174f896a"
            ]
        ]
    },
    {
        "id": "ccfe49fb780f6085",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "Angle Kp",
        "label": "Angle Kp",
        "tooltip": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "0de7521b8d02d726"
            ]
        ]
    },
    {
        "id": "ec059d434ea11bff",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "Angle Ki",
        "label": "Angle Ki",
        "tooltip": "",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "5aa8ca5cc62f623e"
            ]
        ]
    },
    {
        "id": "9c5284bc17750a94",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "Angle Kd",
        "label": "Angle Kd",
        "tooltip": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "403899e8ebf54b18"
            ]
        ]
    },
    {
        "id": "2bc4adc65035cbfd",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "Speed Kp",
        "label": "Speed Kp",
        "tooltip": "",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pidKp",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "c33460c2381e5aad"
            ]
        ]
    },
    {
        "id": "a61ee048727a275e",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "Speed Ki",
        "label": "Speed Ki",
        "tooltip": "",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pidKi",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "0146890f3d5cbd84"
            ]
        ]
    },
    {
        "id": "2263f1c6527c6040",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "Speed Kd",
        "label": "Speed Kd",
        "tooltip": "",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pidKi",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "35cfba2cc3f7919c"
            ]
        ]
    },
    {
        "id": "21179394d2e09e01",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "2Speed Kp",
        "label": "2Speed Kp",
        "tooltip": "",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pidKp",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "0f1ec69e1e6ea4e3"
            ]
        ]
    },
    {
        "id": "6019538ba9743615",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "2Speed Ki",
        "label": "2Speed Ki",
        "tooltip": "",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pidKi",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "79e9e56dbf9c361d"
            ]
        ]
    },
    {
        "id": "78a3a7ba6f335355",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "2Speed Kd",
        "label": "2Speed Kd",
        "tooltip": "",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pidKi",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "50",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 210,
        "y": 640,
        "wires": [
            [
                "779e1a0b2cc6dcd8"
            ]
        ]
    },
    {
        "id": "9c8d99fdac595333",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "2Angle Kp",
        "label": "2Angle Kp",
        "tooltip": "",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "a534da4fc43da85a"
            ]
        ]
    },
    {
        "id": "dbb005c6c7fb0faa",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "2Angle Ki",
        "label": "2Angle Ki",
        "tooltip": "",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "ab2f1f5045801533"
            ]
        ]
    },
    {
        "id": "45ee5ee0f18967ab",
        "type": "ui-slider",
        "z": "42cb848c12375756",
        "group": "c5fbe89b47b4f853",
        "name": "2Angle Kd",
        "label": "2Angle Kd",
        "tooltip": "",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "1",
        "max": "2000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "d6c3361b3092db4a"
            ]
        ]
    },
    {
        "id": "1c58e9752c4bdfcb",
        "type": "can-config",
        "name": "",
        "baud": "1000000",
        "interface": "can0"
    },
    {
        "id": "c5fbe89b47b4f853",
        "type": "ui-group",
        "name": "Different Control Methods",
        "page": "194edb674718394b",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "194edb674718394b",
        "type": "ui-page",
        "name": "Gimbal_Preview",
        "ui": "e2f7615831d73e4b",
        "path": "/page7",
        "icon": "home",
        "layout": "grid",
        "theme": "f5ee49967f8103a8",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e2f7615831d73e4b",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "f5ee49967f8103a8",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "21b6c65fedd482d3",
        "type": "subflow:42cb848c12375756",
        "z": "5924433263ceb70d",
        "name": "Motor PID Config",
        "x": 580,
        "y": 1480,
        "wires": []
    }
]